a:link{	color:000066; text-decoration: none;}
a:visited{color:000066;text-decoration: none;}
a:hover{color:#CC9900;text-decoration: underline;}


a.w:link{color:ffffff; text-decoration: none;}
a.w:visited{color:ffffff;text-decoration: none;}
a.w:hover{color:ffffff;text-decoration: underline;}

a.menu-1:link,a.lb:visited{font-size:12.8px;color:black;text-decoration: none;}
a.menu-1:hover{font-size:12.8px;color:red;text-decoration: underline;}

a.menu-2:link,a.lb:visited{color:000066;text-decoration: none;}
a.menu-2:hover{color:red;text-decoration: underline;}

p {font-size:12px;line-height:100%;}
.p2{font-size:12px;line-height:130%;}
.p3{font-size:14.8px;line-height:130%;}
.p4{font-size:14.8px;line-height:150%;}

table {font-size:12px;	color: #003366;}


.bg-r-b {
	background-repeat: no-repeat;
	background-position: right bottom;
}

.bg-l-t {
	background-repeat: repeat-x;
	background-position: left top;
}

.bg-b {
	background-image: url(../../image/bg_channel_td.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

.bg-r-t {
	background-repeat: no-repeat;
	background-position: right top;
}

.bg-l-t {
	background-repeat: no-repeat;
	background-position: left top;
}

.arrow {
	font-family: "Marlett";
	font-size: 12px;
	text-decoration: none;
}

.ninghao {
	font-style: normal;
	color: #006600;
	letter-spacing: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.menu-left-1 {
	font-size: 12.8px;
	color: #996600;
	background-image: url(../../image/home_42.gif);
	background-repeat: no-repeat;
	background-position: left top;
	letter-spacing: 1px;
	text-align: center;
	height: 28px;
	width: 188px;


}
.menu-left-2 {

	font-size: 12px;
	color: #003366;
	background-image: url(../../image/home_40.gif);
	background-repeat: no-repeat;
	background-position: left top;
	letter-spacing: 1px;
	text-align: center;
	height: 21px;
	width: 188px;
}
.tishi {
	font-size: 14px; color: #003366;
}
.dangqian {
	font-size: 12px;
	font-style: normal;
	color: #7E7E54;

}
.nav-input {
	background-color: #E6DDD5;
	text-align: center;
	vertical-align: baseline;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 24px;
	background-image: url(../../image/bg_buttom.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	cursor: hand;

}

.field {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../../image/bg_filed.gif);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 16px;
	letter-spacing: 1px;
	text-align: center;



}
.field-under {
	font-size: 12px;
	color: #333333;
	background-image: url(../../image/bg_filed2.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	line-height: 22px;
	letter-spacing: 1px;

}
.textarea {
	background-image: url(../../image/bg_txtarea.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 0px none;
	height: 20px;
}
.bg-left {
	background-repeat: repeat-y;
	background-position: left;
}
.bg-right {
	background-repeat: repeat-y;
	background-position: right;
}
.nav2-input {
	text-align: center;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	background-image: url(../../image/bg_buttom2.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	cursor: hand;
	height: 23px;
	width: 64px;


}
.title {

	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background-image: url(../../image/bg_title.gif);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 26px;
	letter-spacing: 1px;
	text-align: center;
}
.textarea-b {
	margin: 1px;
	padding: 1px;
	border: 1px none #0066CC;




}
.bg-page01 {
	background-image: url(../../image/bg_color03.gif);
}
